<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<section id="vacation_tag">
  <input type="text" id="vacation_name" placeholder="Vacation Name">
  <input type="text" id="vacation_location" placeholder="Vacation Location">
  <input type="text" id="vacation_duration" placeholder="Vacation Duration">
  <input type="text" id="vacation_description" placeholder="Vacation Description">
  <input type="text" id="vacation_season" placeholder="Season of Travel">
  <input type="text" id="vacation_budget" placeholder="Budget for Trip">
  <button type="button" id="vacation_submit">Add Vacation</button>
</section>

<script src="javascripts/app.js"></script>
<script src="javascripts/app.views.js"></script>
