<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<section id="vacation_tag">
  <input type="text" id="vacation_name">
  <input type="text" id="vacation_location">
  <input type="text" id="vacation_duration">
  <input type="text" id="vacation_description">
  <input type="text" id="vacation_season">
  <input type="text" id="vacation_budget">
  <button type="button" id="vacation_submit">Add Vacation</button>
</section>
